@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

/* minimal CSS reset */
*,
*::before,
*::after {
  margin: 0;
}

/* variable declaration */
:root {
  /* colors */
  --p-cyan: hsl(193, 38%, 86%); /* short for primary: light cyan */
  --p-green: hsl(150, 100%, 66%); /* short for primary: neon green */
  --n-blue: hsl(217, 19%, 38%); /* neutral: greyish-blue */
  --n-blue-gray-dark: hsl(217, 19%, 24%); /* neutral: dark greyish-blue */
  --n-blue-dark: hsl(218, 23%, 16%); /* neutral: dark blue */

  /* fonts */
  --fs-quote: 1.75rem; /* font size: 28px */
}

html {
  font-size: 16px;
}

body {
  display: grid;
  place-items: center;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: var(--p-cyan);
  background-color: var(--n-blue-dark);
position: relative;
}

main {
  background-color: var(--n-blue-gray-dark);
}

#dice-icon {
  background-color: var(--p-green);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

#dice-icon:hover,
#dice-icon:active {
  box-shadow: 0px 0px 40px var(--p-green);
}

/* footer styles */
footer {
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}